.container {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(100px, 10vh) auto;
}

.content {
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 35% 65%;
}

.admin-left {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: var(--primary);
}

#account-title {
  display: flex;
  justify-content: center;
}

table {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 2%;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
padding-top: 8px;
padding-bottom: 8px;
text-align: left;
background-color: #04AA6D;
color: white;
}

.admin-right {
  justify-items: center;
  grid-column: 2 / span 1;
  width: 100% !important;
}

.profile-head {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.profile-picture {
  display: flex;
  justify-content: center;
  flex-direction: column;
  clip-path: circle(30% at center);
}

.profile > div > p {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.profile-details {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.profile-details > p {
  padding: 10px;
  margin: 0;
}

.profile-info > h3 {
  text-align: center;
}

.admin-right {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.dashboard-header {
  background-color: var(--primary-text);
}

#dashboard-title {
  font-size: 30px;
  text-align: center;
}

#admin-button-group {
  grid-column: 1 / span 1;
  margin: auto;
  min-width: 300px;
  max-width: 480px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#admin-button-group>.admin-button {
  text-decoration: none;
  padding: 1rem;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(193, 193, 193);
  color: black;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 1rem;
}

/* Pseudo-element shadow. Animating the opacity of this element is faster than animating a shadow. /
/ https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
#admin-button-group>.admin-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#admin-button-group>.admin-button:focus,
#admin-button-group>.admin-button:hover {
  transform: scale(1.025, 1.025);
}

#admin-button-group>.admin-button:focus::after,
#admin-button-group>.admin-button:hover::after {
  opacity: 1;
}

#admin-button-group>.admin-button:active {
  transform: scale(1);
}

@media only screen and (max-width: 800px) {
    .admin-user-info-desktop {
      display: none;
    }
}