#content {
  display: grid;
  grid-template-rows: 120px 1fr;
}

.dashboard-header {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-text);
}

#dashboard-title {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.admin-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}

#delete-block {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px;
  background-color: white; 
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  position: relative;
  margin-bottom: 4rem;
}

.input-wrapper input {
  border: 1px black solid;
  font-size: 0.9rem;
  padding: 8px 2px;
  margin-bottom: 10px;
  background-color: rgba(192, 192, 192, 0.3);

}

.delete-message {
  position: absolute;
  top: 100%;
  text-align: center;
}

.admin-button {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgb(211, 34, 34);
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Pseudo-element shadow. Animating the opacity of this element is faster than animating a shadow. /
/ https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.admin-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.admin-button:focus,
.admin-button:hover {
  transform: scale(1.025, 1.025);
}

.admin-button:focus::after,
.admin-button:hover::after {
  opacity: 1;
}

.admin-button:active {
  transform: scale(1);
}

#edit-block {
  display: flex;
  flex-direction: row;
}

#edit-admin-link {
  text-decoration: none;
  color: var(--secondary-dark);
  padding-left: 10px;
}

#edit-admin-link:hover {
  font-weight: bold;
}

#user-tables {
  grid-column: 2 / span 1;
  margin: 0 30px;
  overflow: auto; 
}

table {
  border-collapse: collapse;
  width: 100%;
}

.data-index {
  font-weight: bold;
}

td, tr {
  border: 1px solid #ddd;
  padding: 1rem;
}

th {
  border: 1px solid #ddd;
  padding: 3%;
  text-align: center;
  width: 15%;
}

tr:nth-child(even) {
  background-color: rgb(228, 228, 228);
}

tr:nth-child(odd) {
  background-color: white;
}

tr:hover {
  background-color: var(--secondary-light);
}

th {
padding-top: 8px;
padding-bottom: 8px;
text-align: left;
background-color: var(--secondary-dark);
color: white;
}


@media only screen and (max-width: 800px) {
  #content {
    grid-template-rows: 50px 1fr;
  }

  .admin-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 12.5rem calc(100vh - 12.5rem - 150px);
  }

  #delete-block {
    grid-row: 1 / span 1;
    flex-direction: row;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
  }

  #delete-block h3 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }

  .admin-button {
    padding: 0.5rem;
  }

  #user-tables {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: 0 2%;
  }

}