.container {
  display: grid;
  grid-template-rows: 10% 30% 1fr;
  grid-template-columns: 100%;
}

.dashboard-header {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-text);
}

#dashboard-title {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}