.container {
  display: grid;
  grid-template-rows: 50px 1fr;
}

h2,
h3 {
  text-align: center;
}

.dashboard-header {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-text);
}

#dashboard-title {
  text-align: center;
  margin: 0;
}

.user-card-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.user-card {
  background-color: white;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid var(--secondary-dark);
  min-width: 300px;
  width: 90%;
  padding: 2px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.user-card:hover,
.user-card:focus {
  background-color: var(--secondary-text);
}

.user-card-info {
  display: grid;
  grid-template-columns: 10% repeat(4, 22.5%);
  margin: 1rem;
}

.user-card-username {
  font-weight: bolder;
  font-size: 1.3rem;
  margin: auto 0;
}

.user-card-info span:not(.user-card-username) {
  text-align: center;
  margin: auto;
}

.user-card-options {
  background-color: var(--secondary-text);
  border: 1px solid var(--secondary-dark);
  border-top: 0;
  width: 85%;
  min-width: 280px;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(-55px);
  transition: 0.5s;
}

.user-card-options button {
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: var(--secondary);
  padding: .5rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.user-card-options button:focus,
.user-card-options button:hover {
  transform: scale(1.025, 1.025);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.user-card-options button:active {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 1.3rem;
  right: 8px;
  transform: rotate(0deg);
  transition: 0.5s;
}

.close svg {
  color: black;
}

.close:hover svg {
  color: var(--secondary-dark);
}

.user-card-menu-toggle:checked + .user-card .close {
  transform: rotate(-90deg);
  transition: 0.5s;
}

.user-card-menu-toggle:checked + .user-card + .user-card-options {
  transform: translateY(-5px);
  transition: 0.5s;
}

/* Tooltip styles courtesy of https://www.w3schools.com/css/css_tooltip.asp */

.close .tooltip-text {
  visibility: hidden;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  padding: 5px 0;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  right: 150%;
  z-index: 1;
}

.close .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.3);
}

.close:hover .tooltip-text {
  visibility: visible;
}

/* End tooltip styles */

#popup-delete {
  display: none;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--danger-red);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  flex-direction: column;
}

#popup-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 19.920px;
}

.popup-button {
  width: 25%;
  height: 3rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.popup-button:focus,
.popup-button:hover {
  transform: scale(1.025, 1.025);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.popup-button:active {
  transform: scale(1);
}

#popup-confirm-delete {
  background-color: var(--danger-red);
  border: 1px solid var(--danger-red);
  color: white;
}

#popup-negate-delete {
  background-color: var(--secondary-text);
  border: 1px solid var(--secondary-dark);
}

#search-refresh {
  display: none;
}

#search-admin-refresh {
  display: none;
}

@media only screen and (max-width: 800px) {
  .user-card-info {
    grid-template-columns: 15% repeat(2, 42.5%);
  }

  .user-card-fName,
  .user-card-lName {
    display: none;
  }
}
