.container {
  display: grid;
  background-color: rgba(98, 156, 132, 0.486);
  grid-template-rows: 120px 1fr;
}

.content {
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 355px 1fr;
  grid-template-rows: repeat(4, 25%);
}

h3 {
  display: flex;
  justify-content: center;
}

.dashboard-header {
  background-color: var(--primary-text);
  max-height: 121px;
  min-height: 120px;
}

#dashboard-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5rem;
}

.admin-right {
  justify-content: center;
  grid-column: 2 / span 1;
  padding: 5%;
  padding-top: 10%;
}

#account-title {
  display: flex;
  justify-content: center;
}

table {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border-collapse: collapse;
  width: 100%;
}

td, tr {
  border: 1px solid #ddd;
  padding: 3%;
}

th {
  border: 1px solid #ddd;
  padding: 3%;
  text-align: center;
  width: 15%;
}

tr:nth-child(even) {
  background-color: rgb(228, 228, 228);
}

tr:nth-child(odd) {
  background-color: white;
}

tr:hover {
  background-color: var(--secondary-light);
}

th {
padding-top: 8px;
padding-bottom: 8px;
text-align: left;
background-color: var(--secondary-dark);
color: white;
}

h3 {
  font-size: 25px;
}

.admin-left {
  background-color: var(--primary);
  position: fixed;
  margin-top: 0;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 380px;
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  text-align: center;
}

#user-list {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#admin-list {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#delete-block {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

#edit-block {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.profile-head {
  padding: 0;
  margin: 0;
}

.profile-picture {
  display: flex;
  justify-content: center;
}

.profile-picture img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  clip-path: circle(40% at center);
  max-width: 35%;
  min-width: 34%;
  background-color: var(--secondary-dark);
}

.profile > div > p {
  display: flex;
  justify-content: center;
}

.profile-details {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.profile-details > p {
  padding: 10px;
  margin: 0;
}

.profile-info > h3 {
  text-align: center;
}

.admin-right {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.dashboard-header {
  background-color: var(--primary-text);
}

#dashboard-title {
  font-size: 30px;
  text-align: center;
}

#admin-button-group {
  grid-column: 1 / span 1;
  margin: auto;
  min-width: 300px;
  max-width: 480px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#admin-button-group>.admin-button {
  text-decoration: none;
  padding: 1rem;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(193, 193, 193);
  color: black;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 1rem;
}

/* Pseudo-element shadow. Animating the opacity of this element is faster than animating a shadow. /
/ https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
#admin-button-group>.admin-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#admin-button-group>.admin-button:focus,
#admin-button-group>.admin-button:hover {
  transform: scale(1.025, 1.025);
}

#admin-button-group>.admin-button:focus::after,
#admin-button-group>.admin-button:hover::after {
  opacity: 1;
}

#admin-button-group>.admin-button:active {
  transform: scale(1);
}

#edit-block {
  display: flex;
  flex-direction: row;
}

#edit-admin-link {
  text-decoration: none;
  color: var(--secondary-dark);
  padding-left: 10px;
}

#edit-admin-link:hover {
  font-weight: bold;
}

@media only screen and (max-width: 650px) {

  .container {
    display: block;
  }

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
  }

  .profile-head {
    margin-left: 20px;
  }

  #pseudonav {
    display: flex;
    justify-content: center;
  }

  #nav-logo-background {
    margin: 0;
  }

  table {
    justify-content: center;
    width: 100%;
  }

  #admin-list {
    grid-row: 2 / span 1;
  }

  #admin-table > tbody > tr > td {
    width: 100%;
    padding: 5%;
  }

  #admin-table > tbody > tr > th {
    padding: 5%;
  }

  .admin-left {
    display: none;
  }

  tr, td, th {
    padding: 5%;
  }

  th {
    padding: 2%;
  }
}