/* Text animation CSS referenced from https://codepen.io/PegasusDev/pen/eZZYdY */
.underline-opening:after,
.underline-opening:before {
    position: absolute;
    z-index: -1
}

.underline-opening:after {
    width: 3px;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto
}

.underline-opening:focus:after,
.underline-opening:hover:after {
    width: 100%;
    height: 3px
}

.underline-opening:before {
    content: "";
    width: 3px;
    height: 3px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto
}

.underline-opening:focus:before,
.underline-opening:hover:before {
    width: 100%;
    height: 3px
}


.profile-name h2 {
    display: inline;
    transition: color 1s ease;
    position: relative;
    z-index: 2;
    display: inline-block !important;
}

.profile-name h2:focus,
.profile-name h2:hover {
    outline: 0;
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
    cursor: pointer
}

.profile-name h2:after,
.profile-name h2:before {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.profile-name h2:focus:after,
.profile-name h2:focus:before,
.profile-name h2:hover:after,
.profile-name h2:hover:before {
    outline: 0;
    background-color: var(--gold);
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}
/* End of text animation */