.message-header {
  grid-row: 1 / span 1;
  text-align: center;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 50px;
  left: 0;
  margin: 0;
  height: 50px;
}

#message-content {
  display: flex;
  height: calc(100vh - 200px);
  padding-top: 50px;
  flex-direction: column;
  overflow: auto;
}

.message {
  border-radius: 10px;
  padding: 10px;
  border-radius: 20px;
  margin: 3px;
  min-height: 1rem;
  max-width: 96%;
  overflow-wrap: break-word;
}

.server-message,
.self-message,
.other-message {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}

.server-message .message {
  text-align: center;
  color: grey;
}

.server-message .sender-name {
  display: none;
}

.self-message .sender-name {
  color: grey;
  float: right;
  text-align: right;
}

.other-message .sender-name {
  color: grey;
  float: left;
}

.self-message .message {
  background-color: var(--secondary-text);
  text-align: right;
  float: right;
  margin-left: auto;
}

.other-message .message {
  background-color: #fff;
  text-align: left;
  float: left;
  margin-right: auto;
}

.message-footer {
  position: fixed;
  bottom: 50px;
  left: 0;
  background-color: #fff;
  width: 100%;
}

.message-send-block {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.message-footer input {
  width: 60%;
  padding: 10px;
}

#message-submit {
  width: 20%;
  text-align: center;
  color: white;
  background-color: var(--primary-light);
  border-radius: 10px;
  cursor: pointer;
  border: none;
}