.container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
}

.message-header {
 grid-row: 1 / span 1;
}

.message-container {
  grid-row: 2 / span 1;
}

#message-content {
  display: flex;
  flex-direction: column;
  float: bottom;
}

.message {
  background-color: var(--primary-light);
  border-radius: 10px;
  padding: 5px;
  border-radius: 20px;
  margin: 3px;
}

.self-message {
  background-color: var(--secondary-text);
  text-align: right;
  float: right;
}

.other-message {
  background-color: #fff;
  text-align: left;
  float: left;
}

.message-footer {
  position: absolute;
  bottom: 50px;
  left: 0;
  justify-items: center;
}

.message-send-block { 
  display: flex;
  justify-content: center;
  gap: 7px;
}

.message-footer input {
  width: 60%;
  padding: 10px;
}

#message-submit {
  width: 20%;
  text-align: center;
  color: white;
  background-color: var(--primary-light);
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
