nav {
  background-color: var(--primary-dark);
  display: grid;
  height: 15vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 35% 50% 55%;
}

.profile-header {
  background-color: var(--primary);
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  overflow: hidden;
}

.profile-head {
  grid-column: 2 / span 1;
  display: block;
  justify-content: center;
}

.profile-header img {
  clip-path: circle(40% at center);
  margin-top: 10%;
}

.profile-name {
  grid-column: 2 / span 1;
  font-size: 25px;
  font-weight: bold;
  
}

.edit-profile-text {
  grid-column: 2 / span 1;
  font-size: 20px;
}

.edit-profile-text a {
  color: var(--secondary-light);
  text-decoration: none;
}

.content {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  padding: 3%;
  margin: 5%;
}

.account-info {
  grid-column: 1 / span 1;
  grid-row: 1 / span 7;
}

.profile-info {
  grid-column: 2 / span 1;
  grid-row: 1 / span 7;
}

.profile-description {
  grid-column: 3 / span 1;
  grid-row: 1 / span 7;
}

@media only screen and (max-width: 500px) {

  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 10% 25% 25% 10%;
    margin: auto;
  }

  .navbar-placeholder {
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

  .profile-header {
    background-color: var(--primary);
    grid-row: 2 / span 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    overflow: hidden;
  }

  .profile-head {
    display: block;
  }

  .profile-picture>img {
    clip-path: circle(30% at center);
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    margin-top: 0%;
    height: 30vh;
  }

  .profile-name {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-size: 20px;
    font-weight: bold;
  }
  
  .edit-profile-text {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    font-size: 15px;
  }

  .account-info {
    height: 35vh;
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
  }

  .profile-info {
    display: none;
  }

  .profile-description {
    display: none;
  }
}