@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Lato:wght@300&display=swap%27');

:root {
  /*Colours*/
  --primary: #588676;
  --primary-med: #126749;
  /* --primary-light: #86b6a5; Old colour, saved */
  --primary-light: #249c60;
  --primary-dark: #2c594a;
  --primary-text: #ffeb88;
  --secondary: #5f86be;
  --secondary-light: #91b6f1;
  --secondary-dark: #2c598e;
  --secondary-text: #dff7ff;
  --border: #707070;
  --danger-red: #d32222;
  --border-radius: 5px;
}

html,
body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: rgb(240, 240, 240);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

input,
textarea {
  font-family: 'Lato', sans-serif;
}

.container {
  min-height: calc(100vh - 85px);
  margin-top: 85px;
}

.profile-picture-background {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(50% at center);
}

.profile-picture img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 85px;
  background-color: white;
}

nav svg,
footer svg {
  color: var(--primary-dark);
}

#nav-wrapper {
  margin-left: 2%;
  margin-right: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-logo {
  height: 100%;
  width: auto;
  padding-right: 10%;
  border-right: 1px solid var(--primary-dark);
}

#nav-logo img {
  height: 85px;
  width: auto;
}

#nav-wrapper>div,
#nav-wrapper>div #nav-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-search {
  border: 1px solid var(--primary-dark);
  border-radius: 3px;
  margin-right: 20px;
}

#nav-search input {
  height: 1rem;
  padding: 0.3rem;
  border: none;
}

#nav-search button {
  background: none;
  float: right;
  height: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: rgb(227, 227, 227);
}

.nav-button {
  text-decoration: none;
  color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  min-width: 45px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-button:hover {
  background-color: var(--primary-light);
}

footer {
  display: none;
}


@media only screen and (max-width: 800px) {
  .container {
    min-height: calc(100vh - 100px);
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #nav-home,
  #nav-search,
  #nav-post,
  #nav-chat {
    display: none !important;
  }

  nav {
    height: 50px;
    z-index: 100;
  }

  #nav-logo img {
    height: 50px;
    width: auto;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 100vh;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-search {
    position: relative;
    top: 25%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #bbb;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    font-size: 40px;
    top: 60px;
    right: 35px;
  }

  .form-search {
    position: relative;
    top: 25%;
    width: 80%;
    margin-top: 30px;
    padding: 0 0px 0 10px;
    display: flex;
    background-color: rgb(247, 247, 247);
    border-radius: var(--border-radius);
  }

  .input-search{
    width: 100%;
    font-size: 1em;
    border: none;
    background-color: rgb(247, 247, 247);
    outline: none;
  }

  .submit-search{
    padding: 10px 5%;
    border: none;
    border-left: 2px solid rgb(240, 240, 240);
    border-radius: var(--border-radius);
    background-color: rgb(247, 247, 247);
  }


  footer {
    display: block;
    position: fixed;
    background-color: rgb(247, 247, 247);
    width: 100vw;
    height: 50px;
    bottom: 0;
    left: 0;
    
  }

  #footer-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 100;
  }

  #footer-wrapper .nav-button {
    width: 100%;
  }
}