@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Lato:wght@300&display=swap%27');
:root {
  /*Colours*/
  --primary: #588676;
  --primary-light: #86b6a5;
  --primary-dark: #2c594a;
  --primary-text: #ffeb88;
  --secondary: #5f86be;
  --secondary-light: #91b6f1;
  --secondary-dark: #2c598e;
  --secondary-text: #dff7ff;
  --border: #707070;
}

html,
body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans SC', sans-serif;    
}

.container {
  min-height: 100vh;
  margin-top: 50px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: var(--primary-dark);
}

nav svg,
footer svg {
  color: white;
}

#nav-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-wrapper > div,
#nav-wrapper > div #nav-search, 
#nav-wrapper > div .nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-search {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

#nav-search input {
  height: 1rem;
  padding: 0.3rem;
  border: none;
}

#nav-search button {
  background: none;
  float: right;
  height: 1.6rem;
  border: 1px solid white;
  border-radius: 3px;
  transform: translateX(-2px);
}

#nav-wrapper a,
#footer-wrapper a {
  height: 100%;
}

.nav-button {
  cursor: pointer;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-button:hover {
  background-color: var(--secondary-light);
}

#nav-profile {
  display: inline-block;
  position: relative;
}

#nav-profile-dropdown {
  display: none;
  z-index: -1;
  position: absolute;
  top: 50px;
  right: 0;
  opacity: 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#nav-profile:hover #nav-profile-dropdown {
  display: block;
  opacity: 1;
  z-index: 1;
}

#nav-profile-dropdown a {
  color: white;
  padding: 0.7rem 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
  border: 1px solid var(--secondary-dark);
  background-color: var(--secondary-dark);
}

#nav-profile-dropdown a:hover {
  background-color: var(--secondary-light);
}

footer {
  display: none;
}

@media only screen and (max-width: 800px) {
  
  .container {
    margin-bottom: 50px;
  }

  #nav-home,
  #nav-search,
  #nav-post,
  #nav-profile {
    display: none !important;
  }

  footer {
    display: block;
    position: fixed;
    background-color: var(--primary-dark);
    width: 100vw;
    height: 50px;
    bottom: 0;
    left: 0;
  }

#footer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}
  
#footer-wrapper a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

} 
h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

button {
  font-family: 'Lato', sans-serif;
}
