#content {
  margin: 0;
  display: grid;
  grid-template-columns: 25% 1fr 25%;
}

.profile-head {
  position: fixed;
  top: 100px;
  left: 2%;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: auto;
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-med);
}

.profile-picture {
  height: auto;
}

.profile-picture-background {
  width: 100px;
  height: 100px;
}



.profile-picture:after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--secondary-text);
  border-radius: 50%;
  width: 175%;
  transform: translate(-22.5%, 10px);
}

.profile-name {
  text-align: center;
  width: 100%;
  color: var(--gold);
}

.edit-profile {
  background-color: var(--light-grey);
  /* needs attention on the button colour*/
  color: black;
  /* var(--secondary); changed to black temporarily*/
  border: 1px solid var(--light-grey);
  text-align: center;
  width: 7rem;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-weight: bolder;
  border-radius: 10px;
}

.edit-profile:hover {
  background-color: var(--secondary-dark);
}

.edit-profile a {
  text-decoration: none;
  color: black;
}

.edit-profile a:hover {
  color:white;
}

.post-block {
  grid-column: 2 / span 1;
  width: 100% !important;
}

.post-images img {
  background-color: #dff7ff;
}

.post-edit {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #content {
    grid-template-columns: 2% 96% 2%;
  }

  .profile-head {
    position: static;
    grid-column: 2 / span 1;
    margin-top: 10px;
    width: auto;
    flex-direction: row;
    justify-content: center;
  }

  .profile-picture:after {
    display: none;
  }

  .profile-picture {
    width: 20%;
    height: auto;
  }

  

}