#wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(100px, 10vh) auto;
}

#pseudonav {
    background-color: var(--primary-dark);
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 20% 1fr;
}

#pseudo-nav-logo-background {
    position: relative;
    background-color: var(--secondary-text);
    width: 150px;
    height: auto;
    clip-path: circle(40% at center);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pseudo-nav-logo {
    width: auto;
    height: 90px;
    position: relative;
}

#content {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 55% 45%;
}

#login-block {
    grid-column: 1 / span 1;
    margin: auto;
    min-width: 380px;
    width: 50%;
}

#login-block p {
    text-align: center;
}

#login-block>form {
    display: flex;
    flex-direction: column;
}

#login-block>form>.login-input {
    border: 1px black solid;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.3);
}

/* Styles for inputs brought to you by https://www.instagram.com/p/CdGXl-1PJZ1/?utm_source=ig_web_copy_link  */

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.label {
  position: absolute;
  top: 0.9rem;
  left: 0.5rem;
  padding: 0 0.5rem;
  z-index: 1;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.label:before {
  content: ' ';
  height: 3px;
  position: absolute;
  background:rgb(222, 222, 222);
  top: 0.5rem;
  left: 0;
  width: 100%;
  z-index: -1;
}

.login-input {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  border: 2px solid var(--primary-dark);
  font-size: 0.9rem;
  margin: 0.5rem 0;
  background-color: rgb(222, 222, 222);
  outline: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.login-input:focus {
  border: 2px solid var(--primary-light);
}

.login-input:focus+.label,
.filled {
  top: -0.2rem;
  font-size: 0.9rem;
}

.login-input::placeholder {
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.login-input:focus::placeholder {
  opacity: 1;
}

/* End styles for inputs */

#login-block>form>#login-submit {
    padding: .7rem;
    margin: 10px 0;
    text-align: center;
    background-color: var(--primary-light);
    color: white;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Pseudo-element shadow. Animating the opacity of this element is faster than animating a shadow. */
/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
#login-block>form>#login-submit::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#login-block>form>#login-submit:focus,
#login-block>form>#login-submit:hover {
    transform: scale(1.025, 1.025);
}

#login-block>form>#login-submit:focus::after,
#login-block>form>#login-submit:hover::after {
    opacity: 1;
}

#login-block>form>#login-submit:active {
    transform: scale(1);
}

#login-block a {
    text-decoration: none;
}

#login-block a:link,
#login-block a:visited {
    color: var(--primary-light);
}

#login-block a:focus,
#login-block a:hover {
    text-decoration: underline;
}

#login-block a:active {
    text-decoration: underline;
    color: var(--primary-dark);
}

#login-block #error-message {
  color: red;
}

#welcome {
    grid-column: 2 / span 1;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome h1 {
    color: white;
    text-align: center;
}

#welcome p {
    color: var(--primary-text);
}

@media only screen and (max-width: 800px) {
    #wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-rows: minmax(100px, 10vh) auto;
    }

    #pseudonav {
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    #nav-logo-background {
        margin: 0px;
    }

    #nav-logo {
        position: relative;
        padding: 10%;
    }

    #content {
        grid-row: 2 / span 1;
        display: grid;
        grid-template-columns: 100%;
    }

    #login-block {
        min-width: 256px;
        width: 72%;
    }

    #welcome {
        display: none;
    }

    #welcome h1 {
        display: none;
    }

    #welcome p {
        display: none;
    }
}