.navbar-placeholder {
    background-color: var(--primary-dark);
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 35% 35% 35%;
    grid-template-rows: 10% repeat(3, 1fr) 15%;
}

/*left profile */
.left-profile {
    background-color: var(--primary-light);
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 2 / span 4;
    grid-template-columns: 100%;
    grid-template-rows: 25% repeat(2, 1fr) 10%;
    height: 100%;
    overflow-y: scroll;
}

.left-profile::-webkit-scrollbar {
    display: none;
}

.profile-head {
    grid-row: 1 / span 1;
    text-align: center;
    margin-top: 0;
}

.profile-picture img {
    clip-path: circle(43% at center);
}
.profile-picture>img {
    width: 50%;
    background: white;
}

.profile-name {
    font-size: 25px;
    font-weight: bold;
    margin-top: 4%;
}

.edit-profile {
    margin-top: 2%;
}

.edit-profile a {
    color: var(--secondary-dark);
    text-decoration: none;
}

.profile-info {
    background-color: white;
    margin: auto;
    border-radius: 25px;
    border: 2px solid;
    border-color: var(--border);
    padding: 25%;
    width: 40%;
    margin-top: 10%;
}

.profile-description {
    background-color: white;
    margin: auto;
    border-radius: 25px;
    border: 2px solid;
    border-color: var(--border);
    padding: 25%;
    width: 40%;
    height: 65%;
}

/*right posts area*/
.right-post {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10%, 10);
}

.service-board-tab {
    background-color: var(--secondary-dark);
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.product-post-tab {
    background-color: var(--secondary);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.profile-tab {
    background-color: var(--primary);
    display: none;
}

.my-post {
    background-color: var(--secondary-light);
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    text-align: center;
}

.post-location {
    background-color: white;
    grid-column: 1 / span 2;
    grid-row: 3 / span 8;
}

.footer-placeholder {
    display: none;
}

@media only screen and (max-width: 800px) {

    main {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(1fr, 9);
    }

    .service-board-tab {
        background-color: #2C598E;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .product-post-tab {
        background-color: #5F86BE;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .profile-tab {
        background-color: #588676;
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .profile-head {
        background-color: #86B6A5;
        grid-column: 1 / span 3;
        grid-row: 2 / span 2;
    }

    .profile-info-container {
        grid-column: 1 / span 3;
        grid-row: 3 / span 3;

        border: 2px solid;
    }

    .profile-description {
        grid-column: 1 / span 3;
        grid-row: 6 / span 3;
        border: 2px solid;
    }

}