#content {
    margin: 0;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
}

.profile-head {
    position: fixed;
    top: 100px;
    left: 1%;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: auto;
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-light);
}

.profile-picture {
    width: 50%;
    height: auto;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-picture:after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--secondary-dark);
    width: 200%;
    transform: translate(-25%, 10px);
}

.profile-name {
    text-align: center;
    width: 100%;
}

.edit-profile a {
    text-decoration: none;
    background-color: var(--secondary-light);
    border: 1px solid var(--primary-dark);
    padding: 5px 10px;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.edit-profile a:hover {
    background-color: var(--secondary-dark);
}

.post-block {
    grid-column: 2 / span 1;
}

.post {
    margin: 15px 0;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: auto;
    padding: 10px;
}

.post .post-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post .post-images img {
    width: 20%;
    height: auto;
}
