#wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(100px, 10vh) auto;
}

#pseudonav {
    background-color: var(--primary-dark);
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 20% 1fr;
}

#pseudo-nav-logo-background {
    position: relative;
    background-color: var(--secondary-text);
    width: 150px;
    height: auto;
    clip-path: circle(40% at center);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pseudo-nav-logo {
    width: auto;
    height: 90px;
    position: relative;
}

#content {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 35% 65%;
}

#welcome {
    grid-column: 1 / span 1;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome h1 {
    color: white;
    text-align: center;
}

#welcome p {
    color: rgb(55, 124, 55);
}

#reset-block {
    grid-column: 2 / span 1;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-width: 380px;
    width: 70%;
}

#reset-block p {
    text-align: center;
}

#reset-block>form {
    height: 25.8rem;
    display: flex;
    flex-direction: column;
    /* size in rem so form scales with font size. */
    gap: 3px;
    align-items: center;
}

#username-block,
#password-block,
#new-password-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#new-password-block {
    margin: 50px 0;
}

#new-password-block::before {
    content: '';
    position: relative;
    width: 130%;
    border-top: 1px solid rgba(0, 128, 0, 0.7);
    border-radius: 50%;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
}

div>.create-input {
    border: 1px black solid;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin: 2px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.3);
}

#password-submit {
    grid-row: 6 / span 1;
    grid-column: 1 / span 2;
    padding: .7rem;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(55, 124, 55);
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* Pseudo-element shadow. Animating the opacity of this element is faster than animating a shadow. */


/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */

#password-submit::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#password-submit:focus,
#password-submit:hover {
    transform: scale(1.025, 1.025);
}

#password-submit:focus::after,
#password-submit:hover::after {
    opacity: 1;
}

#password-submit:active {
    transform: scale(1);
}

#reset-block a {
    text-decoration: none;
}

#reset-block a:link,
#reset-block a:visited {
    color: var(--primary-light);
}

#reset-block a:focus,
#reset-block a:hover {
    text-decoration: underline;
}

#reset-block a:active {
    text-decoration: underline;
    color: var(--primary-dark);
}

@media only screen and (max-width: 800px) {
    #wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-rows: minmax(100px, 15vh) auto;
    }
    #pseudonav {
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    #nav-logo-background {
        margin: 0px;
    }
    #nav-logo {
        position: relative;
        padding: 10%;
    }
    #content {
        grid-row: 2 / span 1;
        display: grid;
        grid-template-columns: 100%;
    }
    #reset-block {
        grid-column: 1 / span 1;
        min-width: 256px;
        width: 72%;
    }
    #biz-name-block:before {
        width: 100%;
    }
    #welcome {
        display: none;
    }
    #welcome h1 {
        display: none;
    }
    #welcome p {
        display: none;
    }
}