<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link rel="stylesheet" type="text/css" href="./styles/404error.css">

  <link href="./assets/favicon.ico" rel="icon" type="image/x-icon">

</head>
<body>
  <nav>
    <!-- Populated by server -->
  </nav>

  <div class="error-container">
    <div id="content">
      <!--This animation was referenced from https://codepen.io/WaadAlnwar/pen/dyXGNwM-->
      <div class="error-text">
        <span style="--i:1">E</span>
        <span style="--i:2">R</span>
        <span style="--i:3">R</span>
        <span style="--i:4">O</span>
        <span style="--i:5">R</span>
       </div>
       <p>This page doesn't exist!</p>
    </div>
  </div>

  <footer>
    <!-- Populated by server -->
  </footer>
</body>


</html>