<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Admin View Accounts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/admin-manage-users.css">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link rel="stylesheet" type="text/css" href="./styles/search-bar.css">
  <link href="./images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>

  <nav>
    <!-- Populated by nav.js -->
  </nav>

  <div class="container">
    <div class="dashboard-header">
      <h3 id="dashboard-title">Administration Board</h3>
    </div>
    <div id="content">
      <div class="admin-wrapper">
        <div id="search-bar-header">
          <!--SEARCH USER BAR-->
          <div id="search-user-block">
            <div class="search-block">
              <div class="input-search-wrapper">
                <h3 onclick="toggleDropDown()" id="search-title">Search user</h3>
                <div class="search-dropdown">
                  <input type="text" name="user-username" placeholder="Username" class="search-input">
                  <button id="search-user" type="submit" value="submit" onclick="toggleSearchButton()">Search</button>
                  <button id="search-refresh" type="submit" value="submit" onclick="refreshSearch()">Clear</button>
                </div>
                <div id="search-results"></div>
                <p id="user-error-message"></p>
              </div>
            </div>
          </div>
          <!--END-->
          <!--SEARCH ADMIN BAR-->
          <div id="search-admin-block">
            <div class="search-block">
              <div class="input-search-wrapper">
                <h3 onclick="toggleAdminDropDown()" id="search-title-2">Search Admin</h3>
                <div id="admin-search-dropdown">
                  <input type="text" placeholder="Username" class="search-admin-input">
                  <button id="search-admin" type="submit" value="submit"
                    onclick="toggleAdminSearchButton()">Search</button>
                    <button id="search-admin-refresh" type="submit" value="submit" onclick="refreshSearch()">Clear</button>
                </div>
                <div id="search-results-2"></div>
                <p id="admin-error-message"></p>
              </div>
            </div>
          </div>
        </div>
        <!--END-->
      </div>

      <div id="admin-profiles">
        <h2>Admin Accounts</h2>
        <div id="admin-list">
          <!-- admin cards populates -->
        </div>
      </div>
      <div id="user-profiles">
        <h2>User Accounts</h2>
        <div id="user-list">
          <!-- user cards populates -->
        </div>
      </div>
    </div>
  </div>

  <div id="popup-delete">
    <h2>Are you sure you want to delete <span id="popup-header-username"></span>?</h2>
    <div id="popup-button-wrapper">
      <button id="popup-confirm-delete" class="popup-button">Yes, I am sure</button>
      <button id="popup-negate-delete" class="popup-button">No</button>
    </div>
  </div>

  <footer>
    <!-- Populated by nav.js -->
  </footer>

  <script src="nav.js"></script>
  <script src="admin-tables.js"></script>
</body>

</html>