<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Admin Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link rel="stylesheet" type="text/css" href="./styles/admin-dashboard.css">
  <link href="./images/favicon.ico" rel="icon" type="image/x-icon">

</head>

<body>

  <nav>
    <!-- Populated by nav.js -->
  </nav>

  <div class="container">
    <header class="dashboard-header">
      <h3 id="dashboard-title">Administration Board</h3>
    </header>
    <div class="admin-left">
      <div id="admin-button-group">
        <a href="/admin-manage-users" class="admin-button">Manage Users</a>
        <a href="/admin-add-account" class="admin-button">Add User</a>
        <!-- <a href="#" class="admin-button">Add Admin</a> -->
        <a href="/admin-edit-user" class="admin-button">Edit User Information</a>
        <a href="/reset-password" class="admin-button">Edit A Password</a>
      </div>
    </div>
    <div id="welcome">
      <h1>Greetings,<br />Administrator</h1>
      <p>Here to rule the world?</p>
    </div>
  </div>

  <footer>
    <!-- Populated by nav.js -->
  </footer>
  <script src="nav.js"></script>

</body>

</html>