<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link rel="stylesheet" type="text/css" href="./styles/admin-dashboard.css">
</head>

<body>
  <div id="container">
    <header id="pseudonav">
      <div id="nav-logo-background">
        <img id="nav-logo" src="./images/Logo.png" alt="Gro-Operate logo">
      </div>
    </header>
    <div id="content">
      <div class="dashboard-header">
        <h3 id="dashboard-title">Administration Board</h3>
      </div>
      <div id="admin-button-group">
        <button class="admin-button" href="#">View Users</button>
        <button class="admin-button" href="#">Add User</button>
        <button class="admin-button" href="#">Add Administrator</button>
      </div>
    </div>
  </div>
</body>

</html>