<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link rel="stylesheet" type="text/css" href="./styles/chat.css">
  <link href="./images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>
  <nav>
    <!-- Populated by server -->
  </nav>

  <div class="container">
    <div class="message-header">
      <p>Username of person</p>
    </div>
    <div class="message-content">
      <!-- Chat converstaions go here, populated by chat.js -->
      <p id="message-content"></p>
    </div>
    <div class="message-footer">
      <form class="message-send-block">
        <input type="text" id="message-input" placeholder="Send a message">
        <button type="submit" id="message-submit">Send</button>
      </form>
    </div>


  </div>

  <footer>
    <!-- Populated by server -->
  </footer>
  <script src="nav.js"></script>
  <script src="http://localhost:8000/socket.io/socket.io.js"></script>
  <script src="chat.js"></script>
</body>

</html>
