<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link href="./images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>
  <nav>
    <!-- Populated by nav.js -->
  </nav>

  <div class="container">
    <div class="content">
      <div class="message-container">
        <form class="message-send-block">
          <input type="text" id="message-input">
          <button type="submit" id="message-submit">Send</button>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <!-- Populated by nav.js -->
  </footer>
  <script src="http://localhost:8000/socket.io/socket.io.js"></script>
  <script src="chat.js"></script>
</body>
</html>