<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Create Post</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link rel="stylesheet" type="text/css" href="./styles/create-post.css">
  <link href="./images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>

  <nav>
    <!-- Populated by nav.js -->
  </nav>

  <div class="container">
    <header class="create-post-header">
      <h3 id="create-post-title">Create Post</h3>
    </header>
    <div class="content">
      <form id="form-post" class="form-post" action="/create-post" method="post" enctype="multipart/form-data">
        <label>Post Title</label>
        <input id="input-title" name="input-title" placeholder="Add Title" required><br>
        <div class="form-image">
          <div id="drop-area">
            <label>Upload Images</label>
            <p id="drop-text">Drag and drop images you with to upload</p>
            <input type="file" class="form-image-upload" id="form-image-upload" name="image-upload" multiple
              accept="image/*">
            <progress id="progress-bar" max="100" value="0"></progress>

          </div>
          <div id="gallery"></div>
        </div>
        <label>Description</label>
        <textarea rows="10" name="input-description"
          placeholder="Add description for your business and promote to others for collaboration!"
          required></textarea><br>
        <div class="tags">
          <input id="input-tag" name="input-tag" type="text" placeholder="Add tag">
          <button id="button-tag" type="button" onclick="writeTag()">Add tag</button>
          <textarea id="tag-field" name="tag-field" rows="4" readonly></textarea>
        </div>
        <div class="buttons">
          <input type="button" value="Cancel" id="cancel-button">
          <input type="submit" value="Publish Post" id="post-button">
        </div>
      </form>
    </div>
  </div>

  <footer>
    <!-- Populated by nav.js -->
  </footer>

  <script src="nav.js"></script>

  <script>
    document.getElementById("input-tag").onkeypress = function (e) {
      if (checkKey(e)) {
        e.preventDefault();
        writeTag()
      }
    }
    document.getElementById("input-title").onkeypress = function (e) {
      if (checkKey(e)) {
        e.preventDefault();
      }
    }

    function checkKey(e) {
      let key = e.charCode || e.keyCode || 0;
      return (key == 13)
    }

    function writeTag() {
      let tagField = document.getElementById("tag-field");
      const re = /[\s,]/
      let tags = document.getElementById("input-tag").value.split(re);
      tags.forEach(tag => {
        if (tag) tagField.value += "#" + tag + " ";
      });
      document.getElementById("input-tag").value = "";
    }
  </script>
  <script src="nav.js"></script>
</body>

</html>