<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/global.css">
  <link rel="stylesheet" type="text/css" href="../styles/edit-profile.css">
</head>

<body>
  <div class="container">
    <nav class="navbar-placeholder"></nav>
    <header class="profile-header">
      <div class="profile-head">
        <div class="profile-picture"><img src="https://dummyimage.com/300x300/000/fff" alt="placeholder image"></div>
        <div class="profile-name"><h3>Business Name</h3>
        </div>
        <div class="edit-profile-text"><a href="#">Edit Profile</a></div>
      </div>

    </header>
    <main class="content">
      <div class="account-info">
        <h3>My Account</h3>
        <p>Edit First Name</p>
        <p>Edit Last Name</p>
        <p>Edit Email Address</p>
        <p>Edit Password</p>
        <div class="status"></div>
      </div>
      <div class="profile-info">
        <h3>My Profile</h3>
        <p>Edit Type of Business</p>
        <h4>Contact</h4>
        <p>Edit Business Owner Name</p>
        <p>Edit Business Email</p>
        <h4>Location</h4>
        <p>Edit Address</p>
      </div>
      <div class="profile-description">
        <h3>Description</h3>
        <p>Placeholder description.</p>
      </div>
    </main>
  </div>

</body>

<script src="../scripts/edit-account-function.js"></script>

</html>