<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gro-Operate | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/global.css">
    <link rel="stylesheet" type="text/css" href="./styles/home.css">
    <link href="./images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>

    <nav>
        <div id="nav-wrapper">
            <div id="nav-left">
                <a href="/home" id="nav-home" class="nav-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48 48" height="32" width="32">
            <path fill="currentColor"
              d="M8 42V18L24.1 6L40 18V42H28.3V27.75H19.65V42ZM11 39H16.65V24.75H31.3V39H37V19.5L24.1 9.75L11 19.5ZM24 24.35Z" />
          </svg>
          <span>Home</span>
        </a>
        <a id="nav-admin">
          </a>
      </div>
      <div id="nav-right">
        <div id="nav-search">
          <form action="post">
            <input type="text" placeholder="Search" name="nav-search">
            <button type="submit" name="submit">
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="-2 -3 28 28" width="20" height="20">
                <path fill="currentColor"
                  d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z" />
              </svg>
            </button>

                    </form>
                </div>
                <a href="/create-post" id="nav-post" class="nav-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="-4 -4 32 32" width="32" height="32">
            <path fill="currentColor"
              d="M18.656.93,6.464,13.122A4.966,4.966,0,0,0,5,16.657V18a1,1,0,0,0,1,1H7.343a4.966,4.966,0,0,0,3.535-1.464L23.07,5.344a3.125,3.125,0,0,0,0-4.414A3.194,3.194,0,0,0,18.656.93Zm3,3L9.464,16.122A3.02,3.02,0,0,1,7.343,17H7v-.343a3.02,3.02,0,0,1,.878-2.121L20.07,2.344a1.148,1.148,0,0,1,1.586,0A1.123,1.123,0,0,1,21.656,3.93Z" />
            <path fill="currentColor"
              d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2h9.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.968,4.968,0,0,0,3.536-1.464l2.656-2.658A4.968,4.968,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.465,21.122a2.975,2.975,0,0,1-1.465.8V18a1,1,0,0,1,1-1h3.925a3.016,3.016,0,0,1-.8,1.464Z" />
          </svg>

                    <span>Post</span>
                </a>
                <a href="#" id="nav-chat" class="nav-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="-2 -4 50 50" height="32" width="32">
            <path fill="currentColor"
              d="M4 44V7Q4 5.85 4.9 4.925Q5.8 4 7 4H41Q42.15 4 43.075 4.925Q44 5.85 44 7V33Q44 34.15 43.075 35.075Q42.15 36 41 36H12ZM7 36.75 10.75 33H41Q41 33 41 33Q41 33 41 33V7Q41 7 41 7Q41 7 41 7H7Q7 7 7 7Q7 7 7 7ZM7 7Q7 7 7 7Q7 7 7 7Q7 7 7 7Q7 7 7 7V33Q7 33 7 33Q7 33 7 33V36.75Z" />
          </svg>
                    <span>Chat</span>
                </a>
                <a href="/profile" id="nav-profile" class="nav-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="-2 -2 28 28" width="32" height="32">
            <path fill="currentColor"
              d="M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z" />
            <path fill="currentColor"
              d="M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z" />
          </svg>

                    <span id="profile-name">Profile</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="content">
            <div class="profile-head">
                <div class="profile-picture">
                    <img id="nav-logo" src="./images/Logo.png" alt="Gro-Operate">
                </div>
                <div class="profile-name">
                    <h2 class="profile-name-spot">Business Name</h2>
                </div>
                <div class="edit-profile">
                    <a href="/profile">Edit Profile</a>
                </div>
            </div>

            <div class="post-block">
                <div class="post">
                    <h1 class="post-title">Business Opportunity Post Example</h1>
                    <h3 class="post-business-name">Brought to you by business</h3>
                    <div class="post-images">
                        <img src="./images/Logo.png" alt="Gro-Operate">
                        <img src="./images/Logo.png" alt="Gro-Operate">
                        <img src="./images/Logo.png" alt="Gro-Operate">
                    </div>
                    <p class="post-description">Something to do with business here I bet everyone likes to do business especially when money is on the line my father chose business over the quality of my childhood but I can't blame him its just business.</p>
                    <p class="post-timestamp"><small>posted on today</small></p>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div id="footer-wrapper">
            <a href="/home" id="footer-home" class="nav-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48 48" height="32" width="32">
          <path fill="currentColor"
            d="M8 42V18L24.1 6L40 18V42H28.3V27.75H19.65V42ZM11 39H16.65V24.75H31.3V39H37V19.5L24.1 9.75L11 19.5ZM24 24.35Z" />
        </svg>
                <span>Home</span>
            </a>
            <a href="#" id="footer-search" class="nav-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="-2 -4 32 32" width="32" height="32">
          <path fill="currentColor"
            d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z" />
        </svg>
                <span>Search</span>
            </a>
            <a href="#" id="footer-post" class="nav-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="-4 -4 32 32" width="32" height="32">
          <path fill="currentColor"
            d="M18.656.93,6.464,13.122A4.966,4.966,0,0,0,5,16.657V18a1,1,0,0,0,1,1H7.343a4.966,4.966,0,0,0,3.535-1.464L23.07,5.344a3.125,3.125,0,0,0,0-4.414A3.194,3.194,0,0,0,18.656.93Zm3,3L9.464,16.122A3.02,3.02,0,0,1,7.343,17H7v-.343a3.02,3.02,0,0,1,.878-2.121L20.07,2.344a1.148,1.148,0,0,1,1.586,0A1.123,1.123,0,0,1,21.656,3.93Z" />
          <path fill="currentColor"
            d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2h9.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.968,4.968,0,0,0,3.536-1.464l2.656-2.658A4.968,4.968,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.465,21.122a2.975,2.975,0,0,1-1.465.8V18a1,1,0,0,1,1-1h3.925a3.016,3.016,0,0,1-.8,1.464Z" />
        </svg>

                <span>Post</span>
            </a>
            <a href="/#" id="footer-chat" class="nav-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="-4 -5 54 54" height="32" width="32">
          <path fill="currentColor"
            d="M4 44V7Q4 5.85 4.9 4.925Q5.8 4 7 4H41Q42.15 4 43.075 4.925Q44 5.85 44 7V33Q44 34.15 43.075 35.075Q42.15 36 41 36H12ZM7 36.75 10.75 33H41Q41 33 41 33Q41 33 41 33V7Q41 7 41 7Q41 7 41 7H7Q7 7 7 7Q7 7 7 7ZM7 7Q7 7 7 7Q7 7 7 7Q7 7 7 7Q7 7 7 7V33Q7 33 7 33Q7 33 7 33V36.75Z" />
        </svg>
                <span>Chat</span>
            </a>
        </div>
    </footer>
    <script src="nav.js"></script>

</body>


</html>