<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link rel="stylesheet" type="text/css" href="./styles/post.css">
  <link rel="stylesheet" type="text/css" href="./styles/home.css">
  <link href="./images/favicon.ico" rel="icon" type="image/x-icon">

</head>

<body>

  <nav>
    <!-- Populated by nav.js -->
  </nav>

  <div class="container">
    <div id="content">
      <div class="profile-head">
        <div class="profile-picture">
          <div class="profile-picture-background">
            <img id="profile-picture" src="./avatars/Logo.png" alt="Gro-Operate">
          </div>
        </div>
        <div class="profile-name">
          <h2 class="profile-name-spot">Business Name</h2>
        </div>
        <div class="edit-profile">
          <a href="/profile">Edit Profile</a>
        </div>
      </div>

      <div class="post-block">
        <!-- Populated by feed.js -->
      </div>
    </div>
  </div>

  <footer>
    <!-- Populated by nav.js -->
  </footer>
  <script src="nav.js"></script>
  <script defer src="edit-post.js"></script>
  <script defer src="delete-post.js"></script>
</body>


</html>