<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gro-Operate | Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>

    <div id="wrapper">
        <header id="pseudonav">
            <div id="nav-logo-background">
                <img id="nav-logo" src="/images/Logo.png" alt="Gro-Operate">
            </div>
        </header>

        <div id="content">
            <h1 hidden id="logo">Gro-Operate</h1>
            <div id="login-block">
                <p><b>Sign In</b></p>
                <form method="post" name="/submit-form">
                    <input name="username" class="login-input" type="text" placeholder="Email Address">
                    <input name="password" class="login-input" type="password" placeholder="Password">
                    <button id="login-submit" type="submit" value="submit">Sign In</button>
                </form>
                <p><a href="/">Forgot Password?</a></p>
                <p>Don't have an account? <a href="/create-account">Create one!</a></p>
            </div>
            <div id="welcome">
                <h1>Welcome back,<br/>Partner!</h1>
                <p>You look great. You should start a business!</p>
            </div>
        </div>

    </div>

    </div>

</body>

</html>