<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/login.css">
</head>

<body>

<header id="id-pseudonav">
  <!-- <img id="id-nav-logo" src="/images/LogoWithTitle.png" alt="Gro-Operate"> -->
</header>

<div id="id-wrapper">
  <h1 hidden id="id-logo">Gro-Operate</h1>
  <div id="id-login-block">
    <p><b>Sign In</b></p>
    <form>
      <input id="id-login-username" class="class-login-input" type="text" placeholder="Email Address">
      <input id="id-login-password" class="class-login-input" type="password" placeholder="Password">
      <button id="id-login-submit" type="submit" value="submit">Sign In</button>
    </form>
    <p><a href="/">Forgot Password?</a></p>
    <p>Don't have an account? <a href="/">Create one!</a></p>
  </div>
  <div id="id-welcome">
    <h2>Welcome back,<br/>Partner!</h2>
  </div>
</div>

</body>

</html>