<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link rel="stylesheet" type="text/css" href="./styles/profile.css">
  <link rel="stylesheet" type="text/css" href="./styles/other-user-profile.css">
  <link rel="stylesheet" type="text/css" href="./styles/post.css">
  <link rel="stylesheet" type="text/css" href="./styles/animation.css">
  <link href="./assets/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>

  <nav>
    <!-- Populated by server -->
  </nav>

  <div class="container">
    <div class="profile-header-wrapper-other-user">
      <div class="profile-header">
        <div class="profile-name">
          <h2 class="business-name-block tooltip underline-opening">Business Name</h2>
          <span class="tooltiptext">Business Name</span>
          <div>
            <p class="business-type-block tooltip">Type of Business</p>
            <span class="tooltiptext">Business Type</span>
          </div>
        </div>
        <span id="edit-status"></span>
        <div class="profile-picture">
          <div class="profile-picture-background">
            <img class="business-picture-block" id="profile-picture" src="./avatars/logo.png" alt="Profile Image">
          </div>
        </div>
        <div class="profile-info">
          <h3>Business Owner<br>Name</h3>
          <div class="profile-owner">
            <div id="name-block-container">
              <div>
                <span class="business-owner-fname-block tooltip" id="name-block">First</span>
                <span class="tooltiptext">First Name</span>
              </div>
              <div>
                <span class="business-owner-lname-block tooltip" id="lastname-block">Last</span>
                <span class="tooltiptext">Last Name</span>
              </div>
            </div>
            <div class="profile-contact">
              <h3>Contact Info</h3>
              <div>
                <p class="business-email-block tooltip">Business Email</p>
                <span class="tooltiptext">Email</span>
              </div>
              <div>
                <p class="business-phone-block tooltip">Business Phone</p>
                <span class="tooltiptext">Phone</span>
              </div>
            </div>
            <div class="profile-location">
              <h3>Business Address</h3>
              <p class="business-location-block tooltip">123 Fun St. Vancouver, BC</p>
              <span class="tooltiptext">Address</span>
            </div>
          </div>
        </div>
        <!-- Contact information rearranged for medium desktop view because of spacing issues causing horizontal scrolling -->
        <div class="profile-info-medium-desktop">
          <h3>Business Owner<br>Name</h3>
          <div class="profile-owner">
            <div id="name-block-container-d">
              <div>
                <span class="business-owner-fname-block tooltip" id="name-block-d">First</span>
                <span class="tooltiptext">First Name</span>
              </div>
              <div>
                <span class="business-owner-lname-block tooltip" id="lastname-block-d">Last</span>
                <span class="tooltiptext">Last Name</span>
              </div>
            </div>
          </div>
          <div class="profile-location">
            <h3>Business Address</h3>
            <p class="business-location-block tooltip">123 Fun St. Vancouver, BC</p>
            <span class="tooltiptext">Address</span>
          </div>
        </div>
        <div class="profile-contact-medium-desktop">
          <h3>Contact Info</h3>
          <div>
            <p class="business-email-block tooltip">Business Email</p>
            <span class="tooltiptext">Email</span>
          </div>
          <div>
            <p class="business-phone-block tooltip">Business Phone</p>
            <span class="tooltiptext">Phone</span>
          </div>
        </div>
        <!--End of medium desktop view profile info-->
      </div>
    </div>
    <!--End of header-->
    <div class="profile-description">
      <h3>Business Description</h3>
      <p class="business-description-block"></p>
    </div>

    <div class="post-block">
      <!-- Populated by user-posts.js -->
    </div>
  </div>
  <a href="#" class="chat-button bounce">
    <img src="./assets/chat.png" alt="chat button image">
  </a>
  <span class="chat-label">Chat</span>

  <footer>
    <!-- Populated by server -->
  </footer>
  <script src="nav.js"></script>
  <script src="other-account.js"></script>
  <script src="user-posts.js"></script>

</body>

</html>