<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../styles/global.css">
  <link rel="stylesheet" type="text/css" href="../../styles/post.css">
  <link rel="stylesheet" type="text/css" href="../../styles/profile.css">
  <link rel="stylesheet" type="text/css" href="../../styles/other-user-profile.css">
  <link rel="stylesheet" type="text/css" href="../../styles/animation.css">
  <link href="../../images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>

  <nav>
    <!-- Populated by nav.js -->
  </nav>

  <div class="container">
    <div class="profile-header-wrapper-other-user">
      <div class="profile-header">
        <div class="profile-name">
          <h2 class="business-name-block tooltip underline-opening">Business Name</h2>
          <span class="tooltiptext">Business Name</span>
          <div>
            <p class="business-type-block tooltip">Type of Business</p>
            <span class="tooltiptext">Business Type</span>
          </div>
        </div>
        <span id="edit-status"></span>
        <div class="profile-picture">
          <div class="profile-picture-background">
            <img class="business-picture-block" id="profile-picture" src="./avatars/logo.png" alt="Profile Image">
          </div>
        </div>
        <div class="profile-info">
          <h3>Business Owner<br>Name</h3>
          <div class="profile-owner">
            <div id="name-block-container">
              <div>
                <span class="business-owner-fname-block tooltip" id="name-block">First</span>
                <span class="tooltiptext">First Name</span>
              </div>
              <div>
                <span class="business-owner-lname-block tooltip" id="lastname-block">Last</span>
                <span class="tooltiptext">Last Name</span>
              </div>
            </div>
            <div class="profile-contact">
              <h3>Contact Info</h3>
              <div>
                <p class="business-email-block tooltip">Business Email</p>
                <span class="tooltiptext">Email</span>
              </div>
              <div>
                <p class="business-phone-block tooltip">Business Phone</p>
                <span class="tooltiptext">Phone</span>
              </div>
            </div>
            <div class="profile-location">
              <h3>Business Address</h3>
              <p class="business-location-block tooltip">123 Fun St. Vancouver, BC</p>
              <span class="tooltiptext">Address</span>
            </div>
          </div>
        </div>
        <!-------------Contact information rearranged for medium desktop view 
      because of spacing issues causing horizontal scrolling-------------->
        <div class="profile-info-medium-desktop">
          <h3>Business Owner<br>Name</h3>
          <div class="profile-owner">
            <div id="name-block-container-d">
              <div>
                <span class="business-owner-fname-block tooltip" id="name-block-d">First</span>
                <span class="tooltiptext">First Name</span>
              </div>
              <div>
                <span class="business-owner-lname-block tooltip" id="lastname-block-d">Last</span>
                <span class="tooltiptext">Last Name</span>
              </div>
            </div>
          </div>
          <div class="profile-location">
            <h3>Business Address</h3>
            <p class="business-location-block tooltip">123 Fun St. Vancouver, BC</p>
            <span class="tooltiptext">Address</span>
          </div>
        </div>

        <div class="profile-contact-medium-desktop">
          <h3>Contact Info</h3>
          <div>
            <p class="business-email-block tooltip">Business Email</p>
            <span class="tooltiptext">Email</span>
          </div>
          <div>
            <p class="business-phone-block tooltip">Business Phone</p>
            <span class="tooltiptext">Phone</span>
          </div>
        </div>
        <!--End of medium desktop view profile info-->
      </div>
    </div>
    <!--End of header-->
    <div class="profile-description">
      <h3>Business Description</h3>
      <p class="business-description-block">I am an independant woman look at me go I do it all I read I write I sell
        drugs I surf I drink I drive I box I square dance I make stone tools I dig tunnels I jump rope I dance I I I I
        sell soap :) Also I do more because I am ambitious I play
        guitar I sing I write poetry I lament the loss of humanity I howl at the moon I rub dirt on my cheeks I sleep in
        a bed of thorns I ride the breeze of my whims in a bed of flowers</p>
    </div>

    <div class="post-block">
      <div class="post">
        <h1 class="post-title">This Girl's Business With an Opportunity</h1>
        <h3 class="post-business-name">Brought to you by this girl</h3>
        <div class="post-images">
          <img src="../../images/Logo.png" alt="Gro-Operate">
          <img src="../../images/Logo.png" alt="Gro-Operate">
          <img src="../../images/Logo.png" alt="Gro-Operate">
        </div>
        <p class="post-description">Something to do with business here I bet everyone likes to do business especially
          when money is on the line my father chose business over the quality of my childhood but I can't blame him its
          just business.</p>
        <p class="post-timestamp"><small>posted on today</small></p>
      </div>
    </div>
  </div>
  <button>
    <a href="#" class="chat-button bounce"><img src="../../images/chat.png" alt="chat button image"></a>
  </button>
  <span class="chat-label">Chat</span>

  <footer>
    <!-- Populated by nav.js -->
  </footer>

  <script src="../../other-account.js"></script>
  <script src="../../nav.js"></script>
</body>

</html>