<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gro-Operate | Create Account</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reset-password.css">
    <link rel="stylesheet" href="./styles/global.css">
    <link href="./images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>

    <div id="wrapper">
        <header id="pseudonav">
            <div id="nav-logo-background">
                <img id="nav-logo" src="./images/Logo.png" alt="Gro-Operate">
            </div>
        </header>

        <div id="content">
            <div id="welcome">
                <h1>Change Password</h1>
                <p>Reset your password if you forgot!</p>
            </div>

            <div id="reset-block">
                <p><b>Change Password</b></p>

                <form action="/reset-password" method="post">
                    <div id="username-block" class="input-wrapper">
                        <input name="username" type="text" placeholder="Username" class="create-input" required>
                    </div>

                    <div id="password-block" class="input-wrapper">
                        <input name="current-password" type="password" placeholder="Current Password" class="create-input" required>
                        <div id="new-password-block" class="input-wrapper">
                            <input id="new-password" name="password" type="password" placeholder="New Password" class="create-input" required>
                            <input name="password-verify" type="password" placeholder="Verify Password" class="create-input" required>
                        </div>
                    </div>

                    <button id="password-submit" type="submit" value="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>