<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gro-Operate | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./styles/global.css">
  <link rel="stylesheet" type="text/css" href="./styles/post.css">
  <link rel="stylesheet" type="text/css" href="./styles/search.css">
  <link href="./images/favicon.ico" rel="icon" type="image/x-icon">

</head>

<body>

  <nav>
    <!-- Populated by nav.js -->
  </nav>

  <div class="container">
    <div id="content">
      <div class="post-block">
        <!-- Populated by feed.js -->
      </div>
    </div>
  </div>

  <footer>
    <!-- Populated by nav.js -->
  </footer>
  <script src="nav.js"></script>
</body>


</html>