<template id="post-template">
    <div class="post" id="post">
        <div class="post-header" id="post-header">
            <div class="post-user-avatar-background">
                <img id="post-user-avatar" src="#" alt="Profile Picture">
            </div>
            <div class="post-info" id="post-info">
                <h3 class="post-business-name" id="post-business-name"></h3>

                <span class="post-business-type" id="post-business-type"><small></small></span>
                <span class="post-timestamp" id="post-timestamp"><small></small></span>
            </div>
        </div>
        <h1 id="post-title" class="post-title"></h1>
        <div class="post-images" id="post-images"></div>
        <p class="post-description" id="post-description"></p>
        <div class="post-footer" id="post-footer">
            <div class="post-tags"></div>
        </div>
    </div>
</template>
<template id="image-template">
    <img src="#" alt="">
</template>
<template id="tag-template">
    <a href="#"></a>
</template>

<template id="edit-template">
    <button class="post-edit" id="post-edit">Edit</button>
</template>
