<div class="edit-profile">
  <a id="edit-button">Edit Profile</a>
  <a id="save-button"></a>
</div>
<div class="edit-profile">
  <a id="password-button" href="reset-password.html">Change Password</a>     
</div>    
<div class="edit-profile">
<form id="form-edit-avatar" action="/edit-avatar" method="post" enctype="multipart/form-data">
  <label for="edit-avatar">
    Edit Profile Picture
    <input type="file" id="edit-avatar" name="edit-avatar" accept="image/png, image/jpeg" hidden
      onchange="form.submit()">
  </label>
</form>
</div>