:root {
  /*Colours*/
  --primary: #588676;
  --primary-light: #86b6a5;
  --primary-dark: #2c594a;
  --primary-text: #ffeb88;
  --secondary: #5f86be;
  --secondary-light: #91b6f1;
  --secondary-dark: #2c598e;
  --secondary-text: #dff7ff;
  --border: #707070;
}

html,
body {
    margin: 0 auto;
    font-size: 15px;
}