:root {
    /* Colours */
    --primary: #588676;
    --primary-light: #86b6a5;
    --primary-dark: #2c594a;
    --primary-text: #ffeb88;
    --secondary: #5f86be;
    --secondary-light: #91b6f1;
    --secondary-dark: #2c598e;
    --secondary-text: #dff7ff;
    /* End Colours */
}

html,
body {
    margin: 0 auto;
}

#wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: minmax(15vh, 100px) auto;
}

#pseudonav {
    background-color: var(--primary-dark);
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 20% 1fr;
}

#pseudonav img {
    width: 100%;
}

#nav-logo-background {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 1;
    clip-path: circle(70px at center);
    min-height: fit-content;
    position: relative;
}

#nav-logo {
    background-color: var(--secondary-text);
    min-height: auto;
    object-fit: contain;
    position: relative;
    padding: 5%;
}

#content {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 55% 45%;
}

#login-block {
    grid-column: 1 / span 1;
    margin: auto;
    min-width: 380px;
    max-width: 50%;
}

#login-block p {
text-align: center;
}

#login-block > form {
    display: flex;
    flex-direction: column;
}

#login-block > form > .login-input {
    border: 1px black solid;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.3);
}

#login-block > form > #login-submit {
    padding: .7rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(55, 124, 55);
    color: white;
}

#login-block a {
    text-decoration: none;
}

#login-block a:link,
#login-block a:visited {
    color: var(--primary-light);
}

#login-block a:focus,
#login-block a:hover {
    text-decoration: underline;
}

#login-block a:active {
    text-decoration: underline;
    color: var(--primary-dark);
}

#welcome {
    grid-column: 2 / span 1;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome h1 {
    color: white;
    text-align: center;
}

#welcome p {
    color: rgb(55, 124, 55);
}

@media only screen and (max-width: 800px) {
    #wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-rows: minmax(15vh, 100px) auto;
    }
    
    #pseudonav {
        grid-row: 1 / span 1;
        display: grid;
        grid-template-columns: 100%;
    }

    #content {
        grid-row: 2 / span 1;
        display: grid;
        grid-template-columns: 100%;
    }
    
    #welcome {
        display:none;
    }
    
    #welcome h1 {
        display:none;
    }
    
    #welcome p {
        display: none;
    }
}
