:root {
    /* Colours */
    --primary: #588676;
    --primary-light: #86b6a5;
    --primary-dark: #2c594a;
    --primary-text: #ffeb88;
    --secondary: #5f86be;
    --secondary-light: #91b6f1;
    --secondary-dark: #2c598e;
    --secondary-text: #dff7ff;
    /* End Colours */
}

body {
    margin: 0 auto;
    display: grid;
    min-height: 100vh;
    grid-template-rows: minmax(10%, 100px) auto;
    grid-template-columns: 100%;
}

#id-pseudonav {
    background-color: var(--primary);
    height: 100%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#id-nav-logo {
    width: auto;
    height: auto;
}

#id-wrapper {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 55% 45%;
}

#id-login-block {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin: auto;
    min-width: 380px;
    max-width: 50%;
}

#id-login-block p {
    text-align: center;
}

#id-login-block > form {
    display: flex;
    flex-direction: column;
}

#id-login-block > form > .class-login-input {
    border: 1px black solid;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.3);
}

#id-login-block > form > #id-login-submit {
    padding: .7rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: green;
    color: white;
}

#id-login-block a {
    color: var(--primary-light);
    text-decoration: none;
}

#id-welcome {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background-color: var(--primary-light);
    color: var(--primary-text);
}

