:root {
    /* Colours */
    --primary: #588676;
    --primary-light: #86b6a5;
    --primary-dark: #2c594a;
    --primary-text: #ffeb88;
    --secondary: #5f86be;
    --secondary-light: #91b6f1;
    --secondary-dark: #2c598e;
    --secondary-text: #dff7ff;
    /* End Colours */
}

html,
body {
    margin: 0 auto;
}

#wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: minmax(10vh, 100px) auto;
}

#pseudonav {
    background-color: var(--primary);
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 10% 1fr;
}

#nav-logo-background {
    grid-column: 1 / span 1;
    background-color: var(--primary-text);
    max-width: 150px;
    min-width: 100px;
}

#nav-logo {
    width: 80%;
    height: auto;
}

#content {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 55% 45%;
}

#login-block {
    grid-column: 1 / span 1;
    margin: auto;
    min-width: 380px;
    max-width: 50%;
}

#login-block p {
text-align: center;
}

#login-block > form {
    display: flex;
    flex-direction: column;
}

#login-block > form > .login-input {
    border: 1px black solid;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.3);
}

#login-block > form > #login-submit {
    padding: .7rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: green;
    color: white;
}

#login-block a {
    text-decoration: none;
}

#login-block a:link,
#login-block a:visited {
    color: var(--primary-light);
}

#login-block a:focus,
#login-block a:hover {
    text-decoration: underline;
}

#login-block a:active {
    text-decoration: underline;
    color: var(--primary-dark);
}

#welcome {
    grid-column: 2 / span 1;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome h1 {
    color: white;
    text-align: center;
}

#welcome p {
    color: green;
}
